In [4]:
import pandas as pd

logistics_cost = [
     [ 0,  36.37,  93.48,  44.40, 110.30,  63.65,  54.87,  64.87,  75.99,  84.74],
     [  36.37, 0,  81.92,  60.04,  36.53,  90.76,  82.07,  94.47,  80.28,  48.36],
     [  93.48,  81.92, 0, 140.81,  36.32, 141.29,  91.80, 157.27, 161.05, 125.41],
     [  44.40,  60.04, 140.81, 0,  88.33,  92.94,  88.34,  37.12,  62.12, 110.14],
     [ 110.30,  36.53,  36.32,  88.33, 0, 160.05, 119.39, 176.03, 112.85,  80.72],
     [  63.65,  90.76, 141.29,  92.94, 160.05, 0,  41.64,  69.88, 130.86, 139.62],
     [  54.87,  82.07,  91.80,  88.34, 119.39,  41.64, 0, 112.99, 123.23, 131.99],
     [  64.87,  94.47, 157.27,  37.12, 176.03,  69.88, 112.99, 0,  85.15, 141.38],
     [  75.99,  80.28, 161.05,  62.12, 112.85, 130.86, 123.23,  85.15, 0,  46.76],
     [  84.74,  48.36, 125.41, 110.14,  80.72, 139.62, 131.99, 141.38,  46.76, 0],
     ]

# Origens
origin = ['Limeira','Cosmópolis','Mogi Mirim','Santa Barbara','Holambra','Rio Claro','Araras','Piracicaba','Sumaré','Paulínia']
# Destinos
destiny = ['Limeira','Cosmópolis','Mogi Mirim','Santa Barbara','Holambra','Rio Claro','Araras','Piracicaba','Sumaré','Paulínia']

tabela = pd.DataFrame(data=logistics_cost, index=origin, columns=destiny)
tabela

,Limeira,Cosmópolis,Mogi Mirim,Santa Barbara,Holambra,Rio Claro,Araras,Piracicaba,Sumaré,Paulínia
Limeira,0.00,36.37,93.48,44.40,110.30,63.65,54.87,64.87,75.99,84.74
Cosmópolis,36.37,0.00,81.92,60.04,36.53,90.76,82.07,94.47,80.28,48.36
Mogi Mirim,93.48,81.92,0.00,140.81,36.32,141.29,91.80,157.27,161.05,125.41
Santa Barbara,44.40,60.04,140.81,0.00,88.33,92.94,88.34,37.12,62.12,110.14
Holambra,110.30,36.53,36.32,88.33,0.00,160.05,119.39,176.03,112.85,80.72
Rio Claro,63.65,90.76,141.29,92.94,160.05,0.00,41.64,69.88,130.86,139.62
Araras,54.87,82.07,91.80,88.34,119.39,41.64,0.00,112.99,123.23,131.99
Piracicaba,64.87,94.47,157.27,37.12,176.03,69.88,112.99,0.00,85.15,141.38
Sumaré,75.99,80.28,161.05,62.12,112.85,130.86,123.23,85.15,0.00,46.76
Paulínia,84.74,48.36,125.41,110.14,80.72,139.62,131.99,141.38,46.76,0.00